.line{
	width:960px;
}
#igosootedwuoqxk{
	clear:both;
	padding:22px 0 80px 0;
	color:#888888;
}
#ayaxzlscjswyul #wylkylrdpj .article{
	width:450px;
}
#ayaxzlscjswyul #wylkylrdpj .article p{
	float:left;
	margin:2px 0 0 0;
	width:350px;
}
#ayaxzlscjswyul #kowpgghkuis{
	margin-bottom:-20px;
}
.page-title{
	position:relative;
	z-index:2;
}
#kpqjgrqqudro{
	margin-top:38px;
}
